<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.peter.fbdj_songs"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="de.peter.fbdj_songs.Startpage"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="de.peter.fbdj_songs.Page2"
            android:label="@string/title_activity_page2" >
        </activity>
        <activity
            android:name="de.peter.fbdj_songs.Neues_Lied_eingeben"
            android:label="@string/title_activity_neues__lied_eingeben" >
        </activity>
        <activity
            android:name="de.peter.fbdj_songs.Lied_anzeigen"
            android:label="@string/title_activity_lied_anzeigen" >
        </activity>
    </application>

</manifest>
